section#emg-contact-info
  .container
    .row.pt-5.pb-5
      .col-12.col-md-7.align-self-center.text-center
        .contact-person
          h3.name
            | Hien Nguyen
          .email
            | hien.nguyen@emurgovn.io
          .phone
            | +84 123 123 1234
        .contact-person
          h3
            | Vy Vo
          .email
            | vy.vo@emurgovn.io
          .phone
            | +84 123 123 1234
      .col-12.col-md-5.align-self-center
        h1 Representations


