section#emg-contact-map
  .container
    .row
      .col-md-6.align-self-center
        .col-12.text-center
          img.img-fluid.align-self-center.mr-3(src="/images/building-example.png" alt="Generic placeholder image")
        .col-12
          ul.p-md-3
            li 12th Floar. Tower A1, Viettel Complex, 285 Cach Mang Thang Tam Street. Ward 12, District 10. Ho Chi Minh City. Vietnam
            li Email: Info@emurgovn.io
