extends layouts/master

block content
  .page-header
    h1.page-title
      | Admin page
    .page-subtitle Posting and listing
    .page-options
      p
        | Text there
  .row
    ul
      each recruit in data.recruits
        li= recruit.title
  .form-group
    label.form-label Icon input
  .input-icon.mb-3
    input.form-control(type='text' placeholder='Search for...')
    span.input-icon-addon
      i.fe.fe-search
  .input-icon
    span.input-icon-addon
      i.fe.fe-user
    input.form-control(type='text' placeholder='Username')

