footer
  .container
    .row.pt-4
      .col-md-2
        ul.list-unstyled
          li
            a(href="/")
              | Home
          li
            a(href="/about")
              | About
          li
            a(href="/careers")
              | Careers
          li
            a(href="/question-and-anwser")
              | Q&A
      .col-md-3
        ul.list-unstyled
          li
            a(href="https://www.cardanohub.org", target="_blank")
              | Cardano Hub
          li
            a(href="https://emurgo.io", target="_blank")
              | Emurgo
          li
            a(href="https://cardanofoundation.org", target="_blank")
              | Cardano Foundation
          li
            a(href="https://iohk.io", target="_blank")
              | IOHK
      .col-md-2
        a(href="#") Contact
        ul.list-inline.fa-2x
          li.list-inline-item.pr-2
            i.fab.fa-facebook-square
          li.list-inline-item.pr-2
            i.fab.fa-twitter-square
          li.list-inline-item.pr-2
            i.fab.fa-linkedin
          li.list-inline-item.pr-2
            i.fab.fa-github-square
          li.list-inline-item.pr-2
            i.fab.fa-youtube-square
      .col-sm-5
        H1 EMURGO VIET NAM
        p 12th Floar. Tower A1, Viettel Complex, 285 Cach Mang Thang Tam Street. Ward 12, District 10. Ho Chi Minh City. Vietnam
        p All right reserved &copy; 2018 EMURGO Co.Ltd