extends layout

block content
  .row.block
    .col
      | One of three columns
    .col
      | One of three columns
    .col
      | One of three columns
  .row.align-items-center.block
    .col
      | One of three columns
  .row.align-items-end.block
    .col
      | One of three columns
    .col
      | One of three columns
    .col
      | One of three columns
  .row
    .col.align-self-start
      | One of three columns
    .col.align-self-center
      | One of three columns
    .col.align-self-end
      | One of three columns
