section#emg-academy
  .container
    .row
      .col-md-6.align-self-center.text-md-right
        img.img-fluid.pull-left.align-self-center.mr-3(src="/images/example.png" alt="Generic placeholder image")
      .col-md-6
        h2
          | Academy
        .row
          .col-12
            h3.w-100
              | Target audience
            ul.p-md-3
              li Public blockchain engineers
              li Enterprise blockchain engineers and solution artchitect
          .col-12
            h3.w-100 Our services
            ul.p-md-3
              li Public blockchain engineers
              li Enterprise blockchain engineers and solution artchitect
              li Enterprise blockchain engineers and solution artchitect
