section#emg-blockchain-es
  .container
    .row
      h1.w-100.text-center
        | Blockchain Enterprise Solution
    .row
      .col-12.col-md-6.align-self-center.text-md-right
        .block-list
          h3.header
            | Target industries
          ul.list-body.p-md-3(dir="rtl")
            li Retail
            li Logistics
            li Transportation
        .block-list
          h3.header
            | Our products / services
          ul.list-body.p-md-3(dir="rtl")
            li Develop and extend Cardano Enterprise Framework
            li Architect solutions
            li Provide development and maintenance service
      .col-12.col-md-6.align-self-center.text-md-left
        img.img-fluid.align-self-center.ml-3(src="/images/example.png" alt='Generic placeholder image')