section#emg-blockchain-solutions-consulting
  .container
    .row
      h1.w-100.text-center
        | Blockchain Solutions Consulting
    .row
      .col-12.col-md-7.align-self-center.text-md-right
        .block-list
          h3.header
            | Target customers
          ul.list-body.p-md-3(dir="rtl")
            li Blockchain Solutions Consulting Blockchain Solutions Consulting
            li Blockchain Solutions Conutions Con sulting
            li Blockchain Solutions Cons ulti ngBloc kchain Solutions Consulting
        .block-list
          h3.header
            | Our products / services
          ul.list-body.p-md-3(dir="rtl")
            li Develop and extend Cardano Enterprise Framework
            li Architect solutions
            li Provide development and maintenance service
      .col-12.col-md-5.align-self-center.text-md-left
        img.img-fluid.align-self-center.ml-3(src="/images/example.png" alt='Generic placeholder image')
