section#emg-dappse
  .container
    .row
      .col-md-6.align-self-center.text-md-right
        .row
          h2
            | Dapps Development
          img.img-fluid.pull-left.align-self-center.mr-3(src="/images/example.png" alt="Generic placeholder image")
      .col-md-6
        .row
          .col-12
            h3.w-100
              | Missions
            ul.p-md-3
              li Puc blockchain enginc blockchain enginc blockchain enginc blockchain engin engineers
              li Enterprise blockchain engineers Enterprise blockchain engineers and solution artchitect
              li Enterprise blockchain engineers and solution artchitect
          .col-12
            h3.w-100 Goals
            ul.p-md-3
              li Puc blockchain enginc blockchain enginc blockchain enginc blockchain engin engineers
              li Enterprise blockchain engineers Enterprise blockchain engineers and solution artchitect
              li Enterprise blockchain engineers and solution artchitect
