extends ../single-page

block header
  .title.w-100= title
  .desc.w-100
    | EMURGO Vietnam is an R&D Company member of EMURGO CORP, our main business is focusing on Cardano blockchain technology
block content
  include academy
  include blockchain-es
  include dapps-development
  include blockchain-solution-consult
