.container
  .row.align-items-center.flex-row-reverse
    .col-auto.ml-lg-auto
      .row.align-items-center
        .col-auto
          ul.list-inline.list-inline-dots.mb-0
            li.list-inline-item
              a(href='./docs/index.html') Admin page
            li.list-inline-item
              a(href='./faq.html') FAQ
        .col-auto
          a.btn.btn-outline-primary.btn-sm(href='https://github.com/tabler/tabler') Source code
    .col-12.col-lg-auto.mt-3.mt-lg-0.text-center
      | Copyright &copy; 2018
      a(href='.') Tabler
      | . Theme by `
      a(href='https://codecalm.net' target='_blank') codecalm.net
      |  All rights reserved.
