#headerMenuCollapse.header.collapse.d-lg-flex.p-0
  .container
    .row.align-items-center
      .col-lg.order-lg-first
        ul.nav.nav-tabs.border-0.flex-column.flex-lg-row
          li.nav-item
            a.nav-link(href='/admin', class=(title == 'Admin Dashboard') ? 'active' : undefined)
              i.fe.fe-home
              |  Dashboard
          li.nav-item
            a.nav-link(href='./docs/index.html')
              i.fe.fe-file-text
              |  Emurgo VN
          li.nav-item
            a.nav-link(href='javascript:void(0)' data-toggle='dropdown')
              i.fe.fe-box
              |  Homepage
            .dropdown-menu.dropdown-menu-arrow
              a.dropdown-item(href='./cards.html') Cards design
              a.dropdown-item(href='./charts.html') Charts
              a.dropdown-item(href='./pricing-cards.html') Pricing cards
          li.nav-item.dropdown
            a.nav-link(href='javascript:void(0)' data-toggle='dropdown')
              i.fe.fe-calendar
              |  Business lines
            .dropdown-menu.dropdown-menu-arrow
              a.dropdown-item(href='./maps.html') Maps
              a.dropdown-item(href='./icons.html') Icons
              a.dropdown-item(href='./store.html') Store
              a.dropdown-item(href='./blog.html') Blog
              a.dropdown-item(href='./carousel.html') Carousel
          li.nav-item.dropdown
            a.nav-link(href='javascript:void(0)' data-toggle='dropdown')
              i.fe.fe-file
              |  Cardano Blockchain - Enterprise
            .dropdown-menu.dropdown-menu-arrow
              a.dropdown-item(href='./profile.html') Profile
              a.dropdown-item(href='./login.html') Login
              a.dropdown-item(href='./register.html') Register
              a.dropdown-item(href='./forgot-password.html') Forgot password
              a.dropdown-item(href='./400.html') 400 error
              a.dropdown-item(href='./401.html') 401 error
              a.dropdown-item(href='./403.html') 403 error
              a.dropdown-item(href='./404.html') 404 error
              a.dropdown-item(href='./500.html') 500 error
              a.dropdown-item(href='./503.html') 503 error
              a.dropdown-item(href='./email.html') Email
              a.dropdown-item(href='./empty.html') Empty page
              a.dropdown-item(href='./rtl.html') RTL mode
          li.nav-item.dropdown
            a.nav-link(href='./form-elements.html')
              i.fe.fe-check-square
              |  About
          li.nav-item
            a.nav-link(href='/admin/recruit', class=(title == 'Recruiting Posts') ? 'active' : undefined)
              i.fe.fe-image
              |  Recruitment
          li.nav-item
            a.nav-link(href='./docs/index.html')
              i.fe.fe-file-text
              |  FAQ
