.container
  .row
    .col-lg-8
      .row
        .col-6.col-md-3
          ul.list-unstyled.mb-0
            li
              a(href='#') First link
            li
              a(href='#') Second link
        .col-6.col-md-3
          ul.list-unstyled.mb-0
            li
              a(href='#') Third link
            li
              a(href='#') Fourth link
        .col-6.col-md-3
          ul.list-unstyled.mb-0
            li
              a(href='#') Fifth link
            li
              a(href='#') Sixth link
        .col-6.col-md-3
          ul.list-unstyled.mb-0
            li
              a(href='#') Other link
            li
              a(href='#') Last link
    .col-lg-4.mt-4.mt-lg-0
      | Premium and Open Source dashboard template with responsive and high quality UI. For Free!