section#emg-capability
  .container
    .row
      h1.w-100.text-center
        | Capabilities
    .row(style="min-height: 400px")
      .col-12.col-md-4
        img.img-fluid.mb-5.rounded.mx-auto.d-block(src="/images/example-128.png" alt="icon 128")
        h3.text-center
          | Researcher
        p
          | At leaset 8 years of experience, hold master /PhD or equivalent degree, strong background at least one of these (computer science. Mathematics, Cognitive, computer vision. IOT. Data scientist, Machine Learning)

      .col-12.col-md-4
        img.img-fluid.mb-5.rounded.mx-auto.d-block(src="/images/example-128.png" alt="icon 128")
        h3.text-center
          | Research Fellow
        p
          | Engineering background with at least 5 years experience, strong at Mathematics. cryptographic or related professional
      .col-12.col-md-4
        img.img-fluid.mb-5.rounded.mx-auto.d-block(src="/images/example-128.png" alt="icon 128")
        h3.text-center
          | Engineer
        p
          | University graduation. at least 3 years working experience. strong at least 2 popular programming languages (OOP. Functional programming etc). fluent English and software development process

