section#emg-core-values
  .container
    .row
      h1.w-100.text-center
        | Company core values
    .row(style="min-height: 400px")
      .col-12.col-md-4.align-self-center
        img.img-fluid.mb-5.rounded.mx-auto.d-block(src="/images/example-128.png" alt="icon 128")
        h3.text-center
          | Excellence
        ul
          li Phasellus iaculis neque asellus iaculis neque asellus iaculis neque
          li Purus sodales ultriasellus iaculis neque cies
      .col-12.col-md-4.align-self-center
        img.img-fluid.mb-5.rounded.mx-auto.d-block(src="/images/example-128.png" alt="icon 128")
        h3.text-center
          | Sustainability
        ul
          li Phasellus iaculis neque asellus iaculis neque asellus iaculis neque
          li Purus sodales ultriasellus iaculis neque cies
      .col-12.col-md-4.align-self-center
        img.img-fluid.mb-5.rounded.mx-auto.d-block(src="/images/example-128.png" alt="icon 128")
        h3.text-center
          | Compliance
        ul
          li Phasellus iaculis neque asellus iaculis neque asellus iaculis neque
          li Purus sodales ultriasellus iaculis neque cies
