section#emg-investment
  .container
    .row
      .col-12.col-md-6.emg-background-7.emg-height-4
        | image missing here
      .col-12.col-md-6.align-self-center
        p
          | "A researcher and development center that focuses on the Cardano Blockchain will be set up in Ho Chi Minh City. The center will conduct research for cardano. develop tools. and APIs for its software. and offer a consulting service for enterprises. The tools will assist developers wishing to build applications on Cardano."
        h3
          | Emurgo Investment