section#emg-key-members
  .container
    .row
      h1.w-100.text-center
        | Key members
    .row
      .col-12.col-md-6.align-self-center
        img.img-fluid.mb-5.rounded.mx-auto.d-block(src="/images/example-128.png" alt="icon 128")
        .position.text-center
          h3
            | Frank Nguyen
          .sub
            | Managing Director
        ul.postion-desc.pt-2
          li Phasellus iaculis neque asellus iaculis neque asellus iaculis neque
          li Purus sodales ultriasellus iaculis neque cies
      .col-12.col-md-6.align-self-center
        img.img-fluid.mb-5.rounded.mx-auto.d-block(src="/images/example-128.png" alt="icon 128")
        .position.text-center
          h3
            | Vy Hua
          .sub
            | Technical Director
        ul.postion-desc.pt-2
          li Phasellus iaculis neque asellus iaculis neque asellus iaculis neque
          li Purus sodales ultriasellus iaculis neque cies