section#emg-leadership-msg
  .container
    .row
      .col-md-7.text-right
        h2
          | Leadership message
        blockquote.blockquote.text-right.align-self-center
          p.mb-0
            | It doen't make sense to hire smart people and tell them what to do. We hire smart people so they can tell us what to do
          footer.blockquote-footer
            | Steve Jobs
      .col-md-5.align-self-center
        img.img-fluid.pull-left.align-self-center.mr-3(src='/images/example.png' alt='Generic placeholder image')