section#emg-mission
  .container
    .row
      .col-md-5
        img.img-fluid.pull-left.align-self-center.mr-3(src='/images/example.png' alt='Generic placeholder image')
      .col-md-7.align-self-center
        h2
          | Our mission
        p
          | We are defining and standardizing development process for Blockchain D-apps, creating development supported tools and building various products empowered by Cardano platform
        p
          | We also help break down barriers to Blockchain technology via Academy / education programs and Blockchain community support activities