section#emg-about-vision
  .container
    .row.text-center
      h1.w-100
        | Our vision
      .emg-desc-vision
        | Base in 25 countries
        br
        | 75 offices worldwide
        br
        | over 300,000 staff
      .emg-map.w-100
        img.w-100.img-full(src='/images/emap.png' alt='')
        .emg-office.fa-2x(data-position='889,392' style='top: 380px; left: 1020px;')
          i.fas.fa-map-marker-alt
        .emg-office.fa-2x(data-position='889,392' style='top: 310px; left: 1124px;')
          i.fas.fa-map-marker-alt
        .emg-office.fa-2x(data-position='889,392' style='top: 426px; left: 1040px;')
          i.fas.fa-map-marker-alt

